extends ./layout.jade

block vars
  - var title = 'Kit'

block content
  h1 Make a Kit

  if error
    p ERROR: #{error}

  form(method="post")
    
    div(class='scrollit')  
    table.table.table-striped-table-bordered(id='table1')
      tr
        td Header 1
        td Header 2
        td Header 3
        for(var rule in obj)
        tr
          td 
            input(type='checkbox')
          td 
            input(type='checkbox')
          td
            input(type='checkbox')